table{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}
th{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(173, 229, 147);
    padding: 8px;
}
#horario{
    border: 1px solid black;
    background-color: aquamarine;
    padding: 8px;
}
#horas{
    background-color: cadetblue;
}